@import "./variable";
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
*::-webkit-scrollbar{
  display: none;
}

.flash-box{
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.chat-side{
  width: 300px;
  color: $saidWhiteColor;
  float: left;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .side-header__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
  }
  .side-header__box__menu{
    display: flex;
    li{
      margin-left: 0.3rem;
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group{
      margin-bottom: $manyusesize;
    }
    .group__group-name{
      font-size: 15px;
      margin-bottom: 5px;
    }
    .group__latest-message{
      font-size: 11px;
    }
  }
  a{
    color: $saidWhiteColor;
  }
}

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    height: 100px;
    padding: 0 $manyusesize;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    a {
      color: $actionColor;
    }
  }
  .main-header__left-box{
    margin-top: 35px;
  }
  .main-header__left-box__current-group{
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
  }
  .main-header__left-box__member-list{
    display: flex;
    font-size: 12px;
    color: $usernameColor;
  }
  .main-header__edit-btn{
    height: $manyusesize;
    line-height: $manyusesize;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px $actionColor;
    position:absolute;
    right: $manyusesize;
  }
  .messages{
    height: calc(100vh - 190px);
    padding: 46px $manyusesize;
    background-color: #fafafa;
    overflow: scroll;
    .message{
      padding-bottom: $manyusesize;
    }
    .message__upper-info{
      display: flex;
      margin-bottom: 10px;
    }
    .message__upper-info__talker{
      color: $messegesColor;
      font-size: 16px;
      font-weight: bold;
    }
    .message__upper-info__date{
      color: $usernameColor;
      font-size: 12px;
      margin-left: 10px;
    }
    .message__text{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .form{
    height: 90px;
    padding: 20px $manyusesize;
    background-color: #ddd;
    form{
      display: flex;
      .input-box{
        position: relative;
        width: 100%;
      }
      .input-box__text{
        height: 50px;
        width: 100%;
        padding: 0 $manyusesize 0 10px;
        color: $messegesColor;
        border-style: none;
      }
      .input-box__image{
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $actionColor;
        color: white;
        cursor: pointer;
      }
      .input-box__image__file{
        display: none;
      }
    }
  }
}

.fa{
  display: inline-block;
  color: white;
  font-size: inherit;
  text-rendering: auto;
  -webkit-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}